<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.wcs.insiteo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Used to check internet access-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Used to keep the location service running when app is in the background -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Used for WIFI type location -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- Used for BLE type location -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Required for GPS access -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--required to start the beacon service on boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.insiteo.lbs.ApiKey" android:value="2ad95a1d-713d-4100-8d9f-4917f8dc8de7"/>
        <meta-data android:name="com.insiteo.lbs.ISEServerType" android:value="prod"/>
        <meta-data android:name="com.insiteo.lbs.ISERenderMode" android:value="MODE_2D"/>
        <meta-data android:name="com.insiteo.lbs.AnalyticsAutoStart" android:value="true"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <receiver android:name=".beacon.service.ISBeaconServiceReceiver" >
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                    <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                    <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                </intent-filter>
            </receiver>

            <service
                android:name=".beacon.service.ISBeaconService"
                android:enabled="true"
                android:exported="false"
                android:label="ISBeaconService"
                android:process=":ISBeaconServiceProcess">
            </service>

            <service android:name=".beacon.BeaconIntentProcessor" android:enabled="true" />
            <service android:name=".location.ISLocationService" />
        </activity>
    </application>

</manifest>